<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通headerで置き換える -->
<head th:replace="view :: meta_header('top',~{::link},~{::script})">
    <!-- このページ固有で読み込むCSS/JS -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/company.css}" />
    <script type="text/javascript" th:src="@{/js/datepicker.js}"></script>
</head>
<body>
    <!-- ヘッダーを呼び出す -->
    <div th:replace="view :: header"></div>
    <div class="content">
    <div class="intro abc">
        <div class="content-title">
            <h5>Corpurate Culture</h5>
            <h2>企業文化</h2>
            <hr>
        </div>
            <div class="rinen">
                <img src="img/rinen.png">
                <br>
                <div class="matome">
                    <div class="koudou">
                        <h3>行動指針</h3>
                        <p><b>挑戦</b></p>
                        <p>
                            目標をもって挑戦し続ける<br>

                    </p>
                    <p><b>感謝</b></p>
                    <p>
                        感謝の気持ちを忘れない<br>

                    </p>
                    <p><b>約束</b></p>
                    <p>
                        決めたことを最後までやりきる<br>

                    </p>
                    <p><b>生産性</b></p>
                    <p>
                        効率を意識し質と速度を両立する<br>
                    </div>
                    </p>
                    <div class="hiyaku">
                       <h3> 飛躍</h3>

                    <p>飛躍を意味するSALTO、LEAP</p>
                    <p> 飛躍とは「会社」「人」の成長</p>

                    <p>「反骨心」と「実績」</p>
                    <p> コンプレックスをエネルギーに</p>
                    <p> 自分に勝て</p>
                    <p> 権利を主張するなら義務を果たせ</p>
                    <p> 成長への思いが飛躍するための翼となる</p>
                    <br>
                    <br>
                </div>
                </div>
            </div>
        </div>


    </div>





<div class="content">
    <div class="intro">
        <div class="content-title">
            <h5>インフラに特化したサービス</h5>
            <a href="https://www.salto.site/">
            <h2>SALTO</h2>
            </a>
            <hr>
            <div class="text">
                <b>SIer</b>

                <p>
                    <br>
                    経験豊富なインフラエンジニア・開発エンジニアによるシステムインテグレーション事業を行っています。<br>
                    お客様が抱えている問題や課題に対し、「受託開発」から「人材提供」までお客様に寄り添い、<br>
                    適切な方法でソリューションを提供しています。<br>
                    当社は初期成長過程の中にあるため規模こそ小さいものの高い技術力を持ち<br>
                    上流工程にて参画させていただく機会が多くなっておりますので、<br>
                    工程の上下を問わずソリューションを提供することが可能です。<br>
                </p>
                <br>
                <br>
                <br>

                <b>Freeto(エージェントサービス)</b>

                <p>
                    <br>
                    この「Freeto」はフリーランスエンジニアのための求人サイトです。<br>
                    無料の会員登録をしていただき、プロのキャリアカウンセラーとのカウンセリングののち<br>
                    幅広い業界、業種の案件の中から、お伺いしたご希望内容をもとにお一人お一人に併せて、<br>
                    案件のご紹介をさせていただきます。<br>
                    案件参画中も、専任担当者が定期的にサポートさせていただきます。<br>
                    <br>
                    サービスの詳細は以下のリンクからご確認いただけます。<br>
                    <a href="https://freeto.jp/">Freeto:https://freeto.jp/<br></a>
                </p>
                <br>
                <br>
                <br>
                <b>LESALTO（オンラインプログラミングスクール）</b>

                <p>
                    <br>
                    この「LESALTO」は完全オンライン型のプログラミング学習サービスです。<br>
                    弊社独自の実践的なカリキュラムで経験豊富な講師、メンターと共に学習が可能です。<br>
                    サービスのなかに就業支援も含んでいるということが本サービスの1番の特徴。<br>
                    カリキュラム終了後にカウンセラーとの面談をし、内定、入社までをサポートいたします。<br>
                    <br>
                    サービスの詳細は以下のリンクからご確認いただけます。<br>
                    <a href="https://lesalto.jp/">LESALTO：　https://lesalto.jp/<br></a>
                    <br>
                </p>
            </div>

        </div>
    </div>
    <div class="pic">
        <img src="img/rinen1.png">
    </div>
</div>


<div class="content">
    <div class="intro">
        <div class="content-title">
            <h5>人材紹介に特化したサービス</h5>
            <a href="https://leap-entry.co.jp/">
            <h2>LEAP</h2>
            </a>
            <hr>
            <div class="text">

                <b>人材紹介事業</b>
                <p>
                    <br>
                    弊社専任スタッフが1人1人としっかりと時間をかけて向き合いカウンセリングを行い、<br>
                    働きたい人には、【非公開求人】も含め『本当に納得のできる求人』を、<br>
                    働く人を求めている企業には、募集ポジションにマッチした人材をご紹介。<br>
                    一人の専任スタッフが【真摯に誠実に】責任をもって内定獲得までサポートするので<br>
                    安心して就活をおこなうことができます。<br>
                    また、採用戦略立案のアドバイスなど多方面から企業様の採用成功をサポートすることで、<br>
                    LEAPに関わる全ての皆様がマッチする会社、人材を見つけることができます。<br>
                    自社の就活サイト「Smart就活」では就活に役立つコラム毎日更新中！！！<br>
                </p>
                <br>
                <br>
                <br>
                <b>研修事業</b>

                <p>
                    <br>
                    内定者や新卒等、入社後3年以内の方々を対象とした研修事業を提供しています。<br>
                    我々の研修では特に「マインド」にフォーカスして、研修を行っています。<br>
                    最も重要な経営資源の一つとされる<br>
                    「人」が定着、成長、活躍することが組織にとっては必要です。<br>
                    植物に例えるならば、良い土壌があり、定期的に水を上げていくことで、<br>
                    より大きな花が育つように、研修は「定期的な水を上げる行為」だと我々は考えています。<br>
                    <br>
                </p>
            </div>
        </div>
    </div>
    <div class="pic">
        <img src="img/rinen2.png">
    </div>
</div>


<div class="content">
    <div class="intro">
        <div class="content-title">
            <h5>海外のプログラミング技術に<br>特化したサービス</h5>
            <a href="https://salto.vn/">
                <h2>SALTO VIETNAM</h2>
            </a>
            <hr>


            <div class="pic">
                <img src="img/rinen3.png">
            </div>
            <div class=text>
                <p>
                    <br>
                    2019年11月に当社初の海外拠点として技術力が高く、成長著しいベトナムに設立いたしました。<br>
                    SALTO-Vietnamではオフショア開発を用いた「リーズナブル」かつ「高品質な」サービスを提供しています。<br>
                    開発からテスト・品質管理・納品まで、日本常駐経験のあるメンバーを中心としたチームが<br>
                    オフショア開発に携わっています。<br>
                    そのため安心してオフショア・ラボ型開発をして頂くことが可能となっています。<br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>

	<!-- フッターを呼び出す -->
    <div th:replace="view :: footer"></div>
</body>